*,
::before,
::after {
  box-sizing: border-box; }

:root {
  --font-inter: Inter;
  --font-size-default: 14px;
  --color-limegreen: hsl(163, 72%, 41%);
  --color-brightred: hsl(356, 69%, 56%);
  --color-facebook: hsl(195, 100%, 50%);
  --color-twitter: hsl(203, 89%, 53%);
  --color-instagram-1: hsl(37, 97%, 70%);
  --color-instagram-2: hsl(329, 70%, 58%);
  --color-youtube: hsl(348, 97%, 39%);
  --color-white: hsl(0, 0%, 100%);
  --color-v-darkblue: hsl(230, 17%, 14%);
  --color-light-toggle: hsl(230, 22%, 74%);
  --color-v-paleblue: hsl(225, 100%, 98%);
  --color-l-grayishblue: hsl(227, 47%, 96%);
  --color-d-grayishblue: hsl(228, 12%, 44%);
  --color-dark-toggle-1: hsl(210, 78%, 56%);
  --color-dark-toggle-2: hsl(146, 68%, 55%);
  --color-v-darkblue-2: hsl(232, 19%, 15%);
  --color-d-desaturatedblue: hsl(228, 28%, 20%);
  --color-desaturatedblue: hsl(228, 34%, 66%);
  --transition-default: ease-in .3s; }

html {
  font-size: var(--font-size-default); }

body {
  font-family: var(--font-inter), sans-serif;
  background: linear-gradient(to bottom, var(--color-v-paleblue) 30%, var(--color-white) 30%, var(--color-white) 100%);
  background-repeat: no-repeat;
  margin: 70px 30px;
  display: grid;
  color: var(--color-d-grayishblue);
  transition: var(--transition-default); }
  @media only screen and (min-width: 1440px) {
    body {
      margin: 70px; } }

h1 {
  margin-bottom: .5rem;
  font-weight: 700;
  color: var(--color-v-darkblue); }

h2 {
  margin-bottom: .5rem;
  font-weight: 700;
  color: var(--color-v-darkblue); }

h3 {
  margin-bottom: .5rem;
  font-weight: 700;
  color: var(--color-v-darkblue); }

h4 {
  margin-bottom: .5rem;
  font-weight: 700;
  color: var(--color-v-darkblue); }

h5 {
  margin-bottom: .5rem;
  font-weight: 700;
  color: var(--color-v-darkblue); }

h6 {
  margin-bottom: .5rem;
  font-weight: 700;
  color: var(--color-v-darkblue); }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.3rem; }

hr {
  margin: 20px 0; }
  @media only screen and (min-width: 1440px) {
    hr {
      display: none; } }

header, section {
  margin-bottom: 50px; }

.title--medium {
  font-size: 2rem; }

.title--large {
  font-size: 3rem; }

.title--xlarge {
  font-size: 4rem; }

.title--overview {
  color: var(--color-d-grayishblue);
  margin-bottom: 28px; }

.margin-0 {
  margin: 0; }

.l-grid-wrapper {
  display: grid; }
  @media only screen and (min-width: 1440px) {
    .l-grid-wrapper {
      grid-template-columns: repeat(4, 1fr); }
      .l-grid-wrapper--header {
        grid-template-areas: 'h1 h1 . h2'; } }
  .l-grid-wrapper--followers {
    grid-column-gap: 28px;
    grid-row-gap: 28px; }
  .l-grid-wrapper--overview {
    grid-column-gap: 20px;
    grid-row-gap: 20px; }

@media only screen and (min-width: 1440px) {
  .c-header__title {
    grid-area: h1; } }

.c-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px; }
  .c-switch__input {
    opacity: 0;
    width: 0;
    height: 0; }
    .c-switch__input:checked + .c-switch__toggle {
      background: linear-gradient(var(--color-dark-toggle-1), var(--color-dark-toggle-2)); }
    .c-switch__input:checked + .c-switch__toggle:before {
      transform: translateX(-28px);
      background-color: var(--color-v-darkblue); }
    .c-switch__input:focus + .c-switch__toggle {
      box-shadow: 0 0 1px #2196F3; }
  .c-switch__toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-light-toggle);
    transition: var(--transition-default);
    border-radius: 20px; }
    .c-switch__toggle:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      right: 4px;
      bottom: 3px;
      background-color: var(--color-white);
      transition: var(--transition-default);
      border-radius: 50%; }
  .c-switch__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (min-width: 1440px) {
      .c-switch__wrapper {
        justify-content: flex-end;
        grid-area: h2; } }
  .c-switch__label {
    font-weight: 700;
    margin-right: 14px; }

.c-card {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: var(--color-v-paleblue);
  padding: 20px;
  border-radius: 5px;
  position: relative; }
  @media only screen and (min-width: 1440px) {
    .c-card:hover {
      background-color: var(--color-l-grayishblue); } }
  .c-card__item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .c-card__item--overview {
      justify-content: space-between; }
      .c-card__item--overview:not(:last-child) {
        margin-bottom: 14px; }
  .c-card__icon {
    margin-right: 7px; }
  .c-card__highlight {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 40px 0; }
  .c-card__text--spaced {
    letter-spacing: 5px;
    text-transform: uppercase; }
  .c-card__text--increase {
    color: var(--color-limegreen);
    font-weight: 700; }
  .c-card__text--decrease {
    color: var(--color-brightred);
    font-weight: 700; }
  .c-card__text--bold {
    font-weight: 700; }
  .c-card--overview {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
  .c-card--fb {
    border-top: 5px solid var(--color-facebook); }
  .c-card--tw {
    border-top: 5px solid var(--color-twitter); }
  .c-card--ig {
    background-image: linear-gradient(to right, var(--color-instagram-1), var(--color-instagram-2));
    background-size: 100% 5px;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat; }
  .c-card--yt {
    border-top: 5px solid var(--color-youtube); }

.dark-mode {
  background: linear-gradient(to bottom, var(--color-v-darkblue-2) 30%, var(--color-v-darkblue) 30%, var(--color-v-darkblue) 100%);
  color: var(--color-desaturatedblue); }
  .dark-mode h1 {
    color: var(--color-white); }
  .dark-mode h2 {
    color: var(--color-white); }
  .dark-mode h3 {
    color: var(--color-white); }
  .dark-mode h4 {
    color: var(--color-white); }
  .dark-mode h5 {
    color: var(--color-white); }
  .dark-mode h6 {
    color: var(--color-white); }
  .dark-mode a {
    color: var(--color-white); }
  .dark-mode .c-card {
    background-color: var(--color-d-desaturatedblue); }
    @media only screen and (min-width: 1440px) {
      .dark-mode .c-card:hover {
        -webkit-filter: brightness(1.3);
        filter: brightness(1.3); } }
  .dark-mode .c-switch__label {
    color: var(--color-white); }
/*# sourceMappingURL=styles.css.map */
